.tabs {
  background-color: #666;
}
.tabs__tab {
  display: inline-block;
  padding: 19px 19px 14px;
  background-color: rgba(51, 51, 51, 0.8);
  color: #666;
  font-family: "Signika";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 1px;
  transition: all 0.1s ease-in;
  margin-right: 18px;
}
.tabs__tab:hover {
  background-color: rgba(51, 51, 51, 1);
  text-decoration: none;
}
.tabs__tab.tabs__tab--active {
  color: #fff;
  background-color: rgba(51, 51, 51, 1);
}